* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a2a00db;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    outline: 1px outset #919191;
    width: 600px;
    height: 760px;
    border-radius: 3vh;
    box-shadow: 0 6px 0px 3px #161616;
}

.name-container {
    display: flex;
    align-items: center;
    width: 570px;
    height: 80px;
}

h1 {
    font-size: 22px;
}

.green {
    color: #00ff0d6b;
}

.white {
    color: #ffffffbe;
}

.red {
    color: #ff00006b;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #86e5f06a;
    box-shadow: 0px 0px 30px 1px #86e5f06a;
    outline: 4px solid #14191820;
    height: 110px;
    width: 570px;
    border-radius: 1.5vh;
}

.upper-text {
    font-size: 35px;
    color: #0000007a;
    text-shadow: 0px 0px 5px #002729d2;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
    height: 510px;
}

button {
    background-color: #00000064;
    color: #ffffff;
    outline: 1px outset #919191;
    border-radius: 1.5vh;
    border: none;
    margin: 6px 6px;
    height: 70px;
    width: 133px;
    font-size: 40px;
    box-shadow: 0 6px 0 4px #000000; 
    text-shadow: 0px 0px 3px #ffffff24;
    transition: all 0.1s ease;
}

.equals {
    width: 278px;
    color: #1a1919;
    background-color: #ff000043;
}

.num {
    color: #191a19;
    background-color: #00ff0d43;
}

.power {
    color: #7f0000;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    outline: 1px outset #7f0000;
    box-shadow: 0 6.5px 0 1.5px #000000; 
    border-radius: 1.6vh;
}

.equals:hover {
    outline: 1px outset #ffffff;
    color: #ffffff;
}

.num:hover {
    outline: 1px outset #ffffff;
    color: #ffffff;
}

button:active {
    transform: translateY(6px);
    box-shadow: 0 1px 0 3px #000000;
    text-shadow: 0px 0px 6px #ffffff;
}

.power:active {
    text-shadow: 0px 0px 6px #760000d5;
}

.off-state .display-container {
    background-color: #3b55533a;
    box-shadow: none;
    outline: 4px solid #0c0c0c46;
}

.off-state button {
    pointer-events: none;
    transition: all 0.7s ease;
    text-shadow: none;
    color: #575757d8;
    transform: translateY(6px);
    box-shadow: 0 1px 0 3px #000000;
}

.off-state .power {
    pointer-events: auto;
    color: #ff000043;
    text-shadow: none;
}


.off-state .equals {
    color: #000000;
}

.off-state .num {
    color: #000000;
}

.off-state .power:hover {
    transition: all 0.1s ease;
    outline: 1px outset #7f0000;
    transform: translateY(6px) scale(1.02);
}

